# Servidor
PORT=8082
HOST=localhost

# JWT
JWT_SECRET=

# UserService
USER_SERVICE_URL_DEV=http://localhost:8081
USER_SERVICE_URL_PROD=

# Testes / mock
MOCK_USER=true

# caminho para os repositórios de testes
USER_MOCK_GIT=../collectionTestApiUserService \
API_TESTS_GIT=../collectionTestApiAuthService \